@import "./../../../globals";

.navbar {
  width: 100%;
  height: 60px;

  .navbar-left {
    img {

    }
  }

  .header {
    font-family: $main-font;
    font-size: 40px;
    font-weight: bold;
  }

  .dropdown {

  }
}
