@import "./../../../globals";

.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-left {
    width: 90px;
    margin-left: 250px;

    img {
      display: block;
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      margin: 10px;
    }
  }

  .header {
    font-family: $main-font;
    font-size: 28px;
    font-weight: bold;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-right {
    float: right;
    margin-right: 250px;

    .dropdown {
      width: 50px;
    }

    .auth {
      a {
        width: 50px;
      }
    }
  }
}
