<div class="navbar">
  <div class="navbar-left">
    <img src="./../../../assets/logos/logo-white-teal.png">
  </div>

  <div class="header">
    Opinion Bucket
  </div>

  <div class="navbar-right">
    <div class="dropdown" *ngIf="isLoggedIn">
      Hello
    </div>

    <div class="auth" *ngIf="!isLoggedIn">
      <button class="btn-register">Register</button>
      <button class="btn-login">Login</button>
    </div>
  </div>
</div>

<sui-modal [isClosable]="true" #modal>
  <div class="header">Login</div>
  <div class="content">
    <p>Modal content</p>
  </div>
  <div class="actions">
    <button class="ui black deny button" (click)="modal.deny()">Close</button>
    <button class="ui teal icon button" (click)="modal.approve('done')" autofocus>
      Login
      <i class="sign in icon"></i>
    </button>
  </div>
</sui-modal>
