<div class="container">
  <div class="ui icon red message" *ngIf="hasError">
    <div class="content">
      <div class="header">
        Sorry an error occurred.
      </div>
      <p>{{ errorMessage }}</p>
    </div>
  </div>

  <div class="ui icon message" *ngIf="isLoading">
    <i class="notched circle loading icon"></i>
    <div class="content">
      <div class="header">
        Just one second
      </div>
      <p>We're fetching topics for you.</p>
    </div>
  </div>

  <div class="ui floating dropdown labeled icon button" suiDropdown>
    <i class="filter icon"></i>
    <span class="text">Filter Categories</span>
    <div class="menu" suiDropdownMenu>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        By Tag
      </div>
      <div class="scrolling menu">
        <div class="item" *ngFor="let category of categories">
          <div class="ui teal empty circular label"></div>
          {{category.title}}
        </div>
      </div>
    </div>
  </div>

  <div class="ui divided items">
    <div class="item" *ngFor="let topic of allTopics">
      <div class="content">
        <a class="header">{{topic.title}}</a>
        <div class="meta">
          <span class="cinema">{{topic.date | date: 'medium'}}</span>
        </div>
        <div class="description">
          <p>{{topic.content | slice:0:600}} ...</p>
        </div>
        <div class="extra">
          <div class="ui label" *ngFor="let category of topic.categories">
            <i class="tag icon"></i>
            {{category.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
