<div class="container">
  <div class="ui icon message" *ngIf="isLoading">
    <i class="notched circle loading icon"></i>
    <div class="content">
      <div class="header">
        Just one second
      </div>
      <p>We're fetching the topic details for you.</p>
    </div>
  </div>

  <div class="ui icon red message" *ngIf="hasError">
    <i class="remove icon"></i>
    <div class="content">
      <div class="header">
        Uh oh.
      </div>
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
