<div [class.disabled]="!isEnabled">
  <div class="ui left labeled button" [class.loading]="isLoading" tabindex="0" *ngIf="!hasDisliked" (click)="dislike()">
    <a class="ui basic right pointing label">
      {{numOfDislikes | number: '.2'}}
    </a>
    <div class="ui button">
      <i class="heart icon"></i> Dislike
    </div>
  </div>

  <div class="ui left labeled button" [class.loading]="isLoading" tabindex="0" *ngIf="hasDisliked"
       (click)="unDislike()">
    <a class="ui basic right pointing label">
      {{numOfDislikes | number: '.2'}}
    </a>
    <div class="ui button">
      <i class="empty heart icon"></i> Undislike
    </div>
  </div>
</div>
